{% extends 'todo_app/base.html' %}

{% block content %}

{% if page == 'login' %}
<form action="" method="POST">
	{% csrf_token %}
  <!-- Email input -->
  <h3>Login</h3>
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Username</label>
    <input type="text" name="username" id="form2Example1" class="form-control" 
    placeholder="e.g. rick sanchez"/>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" name="password" id="form2Example2" class="form-control" 
    placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"/>
  </div>

  <!-- Submit button -->
  
  <input type="submit" class="btn btn-primary btn-block mb-4" value="Login" >

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="{% url 'todo_app:register' %}">Register</a></p>

  </div>
</form>

{% else %}
<form action="" method="POST">
	{% csrf_token %}
  <!-- Email input -->
  <h3>Register</h3>
  
  {% for field in form %}
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">{{ field.label }}: </label>
    {{ field  }}
  </div>
  {% endfor %}

  <!-- Submit button -->
  <input type="submit" class="btn btn-primary btn-block mb-4" value="Register" >

  <!-- Register buttons -->
  <div class="text-center">
    <p>Already a member? <a href="{% url 'todo_app:login' %}">Login</a></p>

  </div>
</form>

{% endif %}
{% endblock content %}